@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#quote-box {
  color: green;
  padding: 20px;
  margin: 200px;
  border: 10px solid antiquewhite;
  text-align: center;
}

#text {
  color: slategrey;
  font-size: xx-large;
  font-weight: 600;
}

#author {
  color: slateblue;
  font-size: medium;
  font-weight: 300;
}

#tweet-quote {
  color: steelblue;
  font-size: small;
}

#new-quote {
  background-color: red;
}
#new-quote:hover {
  background-color: pink;
}
